@use 'styles/mixins/action' as *;

.button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.styled {
  @include action-base;
  @include action-appearances;
  @include action-variants;
  @include action-disabled;
}
