@use 'styles/mixins/color' as *;

.badge {
  align-items: center;
  border: 0.1rem solid;
  border-radius: 1.3rem;
  display: inline-flex;
  font-size: var(--font-size-3);
  height: 2.6rem;
  justify-content: center;
  padding: 0 1rem;

  @include color-variants;
}
