@use 'styles/mixins/form' as *;

$tx-color-checkbox: var(--color-white);
$bg-color-checkbox: var(--color-white);
$bg-color-checkbox-active: var(--color-primary-2);
$bd-color-checkbox: var(--color-black);
$bd-color-checkbox-active: var(--color-primary-2);

.wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.checkbox {
  align-items: center;
  background-color: $bg-color-checkbox;
  border-color: $bd-color-checkbox;
  border-radius: var(--radius-2);
  border-style: solid;
  border-width: 0.1rem;
  display: flex;
  flex-shrink: 0;
  height: 2rem;
  justify-content: center;
  width: 2rem;

  &.checked {
    background-color: $bg-color-checkbox-active;
    border-color: $bd-color-checkbox-active;
  }
}

.hiddenInput:focus-visible + .checkbox:not(.checked) {
  border-color: $bd-color-checkbox-active;
}

.wrapper:hover:not(.disabled) .checkbox:not(.checked) {
  border-color: $bd-color-checkbox-active;
}

.checkIcon {
  color: $tx-color-checkbox;
  font-size: var(--font-size-3);
}

.label {
  @include form-label;
}

.hiddenInput {
  clip-path: inset(50%);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}
