@use 'styles/mixins/mq' as *;
@use 'styles/mixins/action' as *;
@use 'styles/mixins/color' as *;
@use 'styles/mixins/theme' as *;

.menu {
  display: block;
  position: relative;

  &::before {
    background-color: var(--header-mobile-top-bg);
    box-shadow: var(--header-mobile-top-shadow);
    content: '';
    height: 100%;
    left: 0;
    opacity: var(--header-mobile-top-opacity);
    position: absolute;
    top: 0;
    transition: opacity var(--transition-default);
    width: 100%;
  }
}

.container {
  align-items: center;
  display: flex;
  height: var(--header-mobile-top-height);
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
}

.logo {
  display: flex;
  flex-shrink: 0;

  img,
  svg {
    height: auto;
    max-height: 3rem;
    width: auto;
  }
}

.toggle {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;

  @include theme-link;
}

.link {
  @include action-appearances;
  @include action-variants;
  @include action-base;
  background: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  font-size: var(--font-size-4);
  height: 4rem;
  padding: 0 1rem;
  text-decoration: none;

  &.current {
    cursor: default;
  }

  @include theme-link;

  &.appearance-icon {
    display: inline-block;
    font-size: 0;

    &::before {
      font-size: 2.4rem;
    }
  }
}

.nav {
  align-items: center;
  display: flex;
  gap: 1rem;
}