@use 'styles/mixins/mq' as *;
@use 'styles/mixins/action' as *;
@use 'styles/mixins/color' as *;

.menu {
  display: block;
  position: relative;

  &::before {
    background-color: var(--header-mobile-top-bg);
    box-shadow: var(--header-mobile-top-shadow);
    content: '';
    height: 100%;
    left: 0;
    opacity: var(--header-mobile-top-opacity);
    position: absolute;
    top: 0;
    transition: opacity var(--transition-default);
    width: 100%;
  }
}

.container {
  align-items: center;
  display: flex;
  height: var(--header-mobile-top-height);
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
}

.logo {
  display: flex;
  flex-shrink: 0;

  img,
  svg {
    height: auto;
    max-height: 3rem;
    width: auto;
  }
}

.toggle {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  padding: 0.8rem;

  .dark & {
    color: var(--color-white);

    &:hover,
    &:focus-visible {
      color: var(--color-primary-contrast);
    }
  }

  .light & {
    color: var(--color-black);

    &:hover,
    &:focus-visible {
      color: var(--color-primary-2);
    }
  }
}