.breadcrumb {
  display: flex;
}

.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover:not([disabled], [aria-disabled="true"]),
  &:focus-visible:not([disabled], [aria-disabled="true"]) {
    color: var(--theme-accent);
    text-decoration: underline;
  }
}

.current {
  color: var(--theme-accent);
}

.separator {
  display: flex;
  opacity: .5;
}
