@use '../mixins/mq' as *;

$text-aligns: left, center, right;

$justify: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly,
);

$items: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'stretch': stretch,
  'baseline': baseline,
);

@each $align in $text-aligns {
  .text-#{$align} {
    text-align: $align;
  }
}

@each $name, $value in $justify {
  .justify-#{$name} {
    justify-content: $value;
  }
}

@each $name, $value in $items {
  .items-#{$name} {
    align-items: $value;
  }
}

@each $name, $value in $items {
  .self-#{$name} {
    align-self: $value;
  }
}

.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-col-reverse { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

@include responsive using ($bp) {
  @each $align in $text-aligns {
    .text-#{$bp}-#{$align} { text-align: $align; }
  }

  @each $name, $value in $justify {
    .justify-#{$bp}-#{$name} { justify-content: $value; }
  }

  @each $name, $value in $items {
    .items-#{$bp}-#{$name} { align-items: $value; }
    .self-#{$bp}-#{$name} { align-self: $value; }
  }

  .flex-#{$bp}-row { flex-direction: row; }
  .flex-#{$bp}-col { flex-direction: column; }
  .flex-#{$bp}-row-reverse { flex-direction: row-reverse; }
  .flex-#{$bp}-col-reverse { flex-direction: column-reverse; }
  .flex-#{$bp}-wrap { flex-wrap: wrap; }
  .flex-#{$bp}-nowrap { flex-wrap: nowrap; }
}
