$color-variants: (primary, secondary, success, danger, warning, info);
$color-levels: (1, 2, 3, contrast);

.bd {
  border: 0.1rem solid var(--color-grey-5);
}

@each $variant in $color-variants {
  @each $level in $color-levels {
    .bd-#{$variant}-#{$level} {
      border: 0.1rem solid var(--color-#{$variant}-#{$level});
    }
  }
}

@for $i from 1 through 9 {
  .bd-grey-#{$i} {
    border: 0.1rem solid var(--color-grey-#{$i});
  }
}

.bd-black {
  border: 0.1rem solid var(--color-black);
}

.bd-white {
  border: 0.1rem solid var(--color-white);
}

.bd-t {
  border-top: 0.1rem solid var(--color-grey-5);
}

.bd-r {
  border-right: 0.1rem solid var(--color-grey-5);
}

.bd-b {
  border-bottom: 0.1rem solid var(--color-grey-5);
}

.bd-l {
  border-left: 0.1rem solid var(--color-grey-5);
}

.bd-none {
  border: none;
}
