@use '../mixins/color' as *;

$color-levels: (1, 2, 3, contrast);

@each $variant in $color-variants {
  @each $level in $color-levels {
    .bg-#{$variant}-#{$level} {
      background-color: var(--color-#{$variant}-#{$level});
    }
  }
}

@each $variant in $color-variants {
  @each $level in $color-levels {
    .tx-#{$variant}-#{$level} {
      color: var(--color-#{$variant}-#{$level});
    }
  }
}

@for $i from 1 through 9 {
  .bg-grey-#{$i} {
    background-color: var(--color-grey-#{$i});
  }
}

@for $i from 1 through 9 {
  .tx-grey-#{$i} {
    color: var(--color-grey-#{$i});
  }
}

.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

.tx-black {
  color: var(--color-black);
}

.tx-white {
  color: var(--color-white);
}
