@use '../mixins/mq' as *;

$displays: (
  'none': none,
  'block': block,
  'flex': flex,
  'grid': grid,
  'inline': inline,
  'inline-block': inline-block,
  'inline-flex': inline-flex,
);

@each $name, $value in $displays {
  .d-#{$name} {
    display: $value;
  }
}

@include responsive using ($bp) {
  @each $name, $value in $displays {
    .d-#{$bp}-#{$name} { display: $value; }
  }
}
