.obj-center { object-position: center; }
.obj-top { object-position: top; }
.obj-bottom { object-position: bottom; }
.obj-left { object-position: left; }
.obj-right { object-position: right; }
.obj-top-left { object-position: top left; }
.obj-top-right { object-position: top right; }
.obj-bottom-left { object-position: bottom left; }
.obj-bottom-right { object-position: bottom right; }
