.w-full { width: 100%; }
.w-auto { width: auto; }
.h-full { height: 100%; }
.h-auto { height: auto; }

.h-screen {
  height: 100vh;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.min-h-screen {
  min-height: 100vh;

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }
}
