.avatar {
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--action-secondary-base);
  border-radius: 50%;
  color: var(--action-secondary-on);
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.initials {
  color: inherit;
  font-weight: var(--font-weight-heading);
  text-transform: uppercase;
}

$variants: primary, secondary, success, danger, warning, info;

@each $variant in $variants {
  .variant-#{$variant} {
    background-color: var(--action-#{$variant}-base);
    color: var(--action-#{$variant}-on);
  }
}
