@use 'styles/mixins/theme' as *;

.modalTrigger {
  cursor: pointer;
  display: flex;
  padding: 0;

  @include theme-link;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modalActions {
  display: flex;
  gap: 1rem;
}
