:root {
  --color-black: #000;
  --color-black-50: rgb(0 0 0 / 50%);
  --color-black-40: rgb(0 0 0 / 40%);
  --color-black-30: rgb(0 0 0 / 30%);
  --color-black-20: rgb(0 0 0 / 20%);
  --color-black-10: rgb(0 0 0 / 10%);
  --color-black-05: rgb(0 0 0 / 5%);
  --color-white: #fff;
  --color-white-50: rgb(255 255 255 / 50%);
  --color-white-40: rgb(255 255 255 / 40%);
  --color-white-30: rgb(255 255 255 / 30%);
  --color-white-20: rgb(255 255 255 / 20%);
  --color-white-10: rgb(255 255 255 / 10%);
  --color-white-05: rgb(255 255 255 / 5%);
  --color-grey-1: #333;
  --color-grey-2: #666;
  --color-grey-3: #737373;
  --color-grey-4: #949494;
  --color-grey-5: #DDD;
  --color-grey-6: #EEE;
  --color-grey-7: #F5F5F5;
  --color-default-1: #000;
  --color-default-2: #333;
  --color-default-3: #eee;
  --color-default-contrast: #fff;
  --color-primary-1: #002f5f;
  --color-primary-2: #06c;
  --color-primary-3: #cce0ff;
  --color-primary-contrast: #60a5fa;
  --color-secondary-1: #3d1480;
  --color-secondary-2: #7c3aed;
  --color-secondary-3: #ede9fe;
  --color-secondary-contrast: #a78bfa;
  --color-success-1: #115129;
  --color-success-2: #15803d;
  --color-success-3: #dcfce7;
  --color-success-contrast: #4ade80;
  --color-danger-1: #5c1010;
  --color-danger-2: #dc2626;
  --color-danger-3: #fee2e2;
  --color-danger-contrast: #f87171;
  --color-warning-1: #71320b;
  --color-warning-2: #b45309;
  --color-warning-3: #fef3c7;
  --color-warning-contrast: #fbbf24;
  --color-info-1: #104b5d;
  --color-info-2: #0e7490;
  --color-info-3: #cffafe;
  --color-info-contrast: #22d3ee;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --font-size-4: 1.6rem;
  --font-size-5: 1.8rem;
  --font-size-6: 2rem;
  --font-size-7: 3rem;
  --font-size-8: 4rem;
  --font-size-9: 6rem;
  --line-height-heading: 1.2;
  --line-height-default: 1.4;
  --font-weight-body: 400;
  --font-weight-button: 600;
  --font-weight-strong: 600;
  --font-weight-heading: 800;
  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-3: 300;
  --z-index-4: 400;
  --z-index-5: 500;
  --z-index-6: 600;
  --screen-max-width: 168rem;
  --container-max-width: 120rem;
  --site-font: system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', arial,
    sans-serif;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;
  --spacing-6: 5rem;
  --spacing-7: 6rem;
  --spacing-8: 8rem;
  --spacing-9: 10rem;
  --radius-1: 0.2rem;
  --radius-2: 0.4rem;
  --radius-3: 0.6rem;
  --radius-4: 0.8rem;
  --radius-5: 1rem;
  --radius-6: 1.5rem;
  --radius-7: 2rem;
  --height-mobile-menu: 6rem;
  --height-main-menu: 6rem;
  --height-top-menu: 3rem;
  --transition-default: 0.2s ease;
}
