@use 'styles/mixins/mq' as *;
@use 'styles/mixins/action' as *;
@use 'styles/mixins/color' as *;

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-3);
}

.headerDesktop {
  display: none;

  @include mq-md {
    display: block;
  }
}

.headerMobile {
  display: block;

  @include mq-md {
    display: none;
  }
}

.headerMobileOverlay {
  background-color: var(--color-black-50);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity var(--transition-default);
  z-index: var(--z-index-3);

  @include mq-md {
    display: none;
  }

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
  }
}