@use 'styles/mixins/mq' as *;

.header {
  --header-top-bg: var(--color-grey-7);
  --header-main-bg: var(--color-white);

  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-3);
}

.chevron {
  transition: transform var(--transition-default);

  .textLight & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  &.chevronOpen {
    transform: rotate(180deg);
  }
}

// TOP MENU

.topMenu {
  display: none;
  position: relative;
  z-index: var(--z-index-5);

  @include mq-md {
    display: block;
  }

  &::before {
    background-color: var(--header-top-bg);
    content: '';
    height: 100%;
    left: 0;
    opacity: var(--header-top-opacity, 1);
    position: absolute;
    top: 0;
    transition: opacity var(--transition-default);
    width: 100%;
  }
}

.topContainer {
  align-items: center;
  display: flex;
  font-size: var(--font-size-2);
  gap: 2rem;
  height: var(--height-top-menu);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;
  position: relative;
}

.topNav {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.topLink {
  color: var(--color-black);
  font-size: var(--font-size-3);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
    text-decoration: underline;
  }

  &.current {
    color: var(--color-primary-2);
    cursor: default;
    text-decoration: none;
  }

  .textLight & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }
}

.topDropdownWrapper {
  position: relative;
}

.topDropdownTrigger {
  align-items: center;
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-3);
  gap: 0.5rem;
  height: var(--height-top-menu);
  position: relative;
  text-decoration: none;

  .topDropdownWrapper:hover &,
  .topDropdownWrapper:focus-within & {
    background-color: transparent;
    color: var(--color-primary-2);
  }

  .textLight & {
    color: var(--color-white);
  }

  .textLight .topDropdownWrapper:hover &,
  .textLight .topDropdownWrapper:focus-within & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  .textDark .topDropdownWrapper:hover &,
  .textDark .topDropdownWrapper:focus-within & {
    color: var(--color-black);
  }
}

.topDropdown {
  min-width: 15rem;
  opacity: 0;
  padding: 1rem 0 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.topDropdownInner {
  background-color: var(--color-grey-7);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
}

.topDropdownLink {
  background: none;
  color: var(--color-black);
  cursor: pointer;
  display: block;
  font-size: var(--font-size-3);
  line-height: var(--line-height-default);
  margin: 1rem 0 0;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--transition-default);
  width: 100%;

  &:first-child {
    margin: 0;
  }

  &:hover:not(.current),
  &:focus-visible:not(.current) {
    color: var(--color-primary-2);
    text-decoration: underline;
  }

  &.current {
    color: var(--color-primary-2);
    cursor: default;
    text-decoration: none;
  }
}

// MAIN MENU

.mainMenu {
  display: none;
  position: relative;
  z-index: var(--z-index-4);

  @include mq-md {
    display: block;
  }

  &::before {
    background-color: var(--header-main-bg);
    box-shadow: var(--header-main-shadow);
    content: '';
    height: 100%;
    left: 0;
    opacity: var(--header-main-opacity);
    position: absolute;
    top: 0;
    transition: opacity var(--transition-default);
    width: 100%;
  }
}

.mainContainer {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: var(--height-main-menu);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;
  position: relative;
}

.mainNav {
  align-items: center;
  display: none;
  gap: 1rem;

  @include mq-md {
    display: flex;
  }
}

.mainLogo {
  display: flex;
  flex-shrink: 0;

  img,
  svg {
    height: auto;
    max-height: 3rem;
    width: auto;
  }
}

.mainLink {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  height: 4rem;
  padding: 0 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-grey-6);
    color: var(--color-primary-2);
    text-decoration: none;
  }

  &.current {
    background: none;
    color: var(--color-primary-2);
    cursor: default;
  }

  .textLight & {
    color: var(--color-white);

    &:hover,
    &:focus-visible {
      background-color: var(--color-white-10);
      color: var(--color-white);
    }
  }

  .textDark & {
    color: var(--color-black);

    &:hover,
    &:focus-visible {
      background-color: var(--color-black-10);
      color: var(--color-black);
    }
  }

  &.icon {
    font-size: var(--font-size-6);

    &:hover,
    &:focus-visible {
      background-color: transparent;
      color: var(--color-primary-2);
    }

    .textLight & {
      color: var(--color-white);

      &:hover,
      &:focus-visible {
        background-color: transparent;
        color: var(--color-primary-contrast);
      }
    }

    .textDark & {
      color: var(--color-black);

      &:hover,
      &:focus-visible {
        background-color: transparent;
        color: var(--color-primary-contrast);
      }
    }
  }
}

.mainDropdownWrapper {
  align-items: center;
  display: flex;
  height: var(--height-main-menu);
  position: relative;

  &:hover,
  &:focus-within {
    .chevron {
      transform: rotate(180deg);
    }

    .mainDropdown,
    .megaMenu {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }
}

.mainDropdownTrigger {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  gap: 0.5rem;
  height: 4rem;
  padding: 0 2rem;
  text-decoration: none;

  .mainDropdownWrapper:hover &,
  .mainDropdownWrapper:focus-within & {
    background-color: var(--color-grey-6);
    color: var(--color-primary-2);
  }

  .textLight & {
    color: var(--color-white);
  }

  .textLight .mainDropdownWrapper:hover &,
  .textLight .mainDropdownWrapper:focus-within & {
    background-color: var(--color-white-10);
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  .textDark .mainDropdownWrapper:hover &,
  .textDark .mainDropdownWrapper:focus-within & {
    background-color: var(--color-black-10);
    color: var(--color-black);
  }
}

.mainDropdownTriggerActive {
  color: var(--color-primary-2);
}

.mainDropdownCurrent {
  color: var(--color-primary-2);
}

.mainDropdownHasMega {
  position: static;
}

.mainDropdown {
  left: 0;
  min-width: 20rem;
  opacity: 0;
  padding: 1rem 0 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.mainDropdownInner {
  background: var(--color-white);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
  color: var(--color-black);
  padding: 2rem;
}

.megaMenu {
  left: 50%;
  max-width: var(--container-max-width);
  opacity: 0;
  padding: 1rem 2rem 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateX(-50%);
  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
  visibility: hidden;
  width: 100%;
  z-index: var(--z-index-5);

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.megaMenuInner {
  background: var(--color-white);
  border-radius: var(--radius-2);
  color: var(--color-black);
  margin: 0 auto;
  padding: 2rem;

  @include mq-lg {
    padding: 4rem;
  }
}

.mainDropdownLink {
  background: none;
  border-radius: var(--radius-2);
  color: var(--color-black);
  cursor: pointer;
  display: block;
  font-size: var(--font-size-3);
  padding: 1rem 0 0;
  text-align: left;
  text-decoration: none;
  transition:
    color var(--transition-default),
    background-color var(--transition-default);
  width: 100%;

  &:first-child {
    padding: 0;
  }

  &:hover:not(.current),
  &:focus-visible:not(.current) {
    color: var(--color-primary-2);
    text-decoration: underline;
  }

  &.current {
    color: var(--color-primary-2);
    cursor: default;
    text-decoration: none;
  }
}

// MOBILE TOP MENU

.mobile {
  display: block;
  position: relative;

  @include mq-md {
    display: none;
  }
}

.mobileOverlay {
  background-color: var(--color-black-50);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity var(--transition-default);
  z-index: var(--z-index-3);

  @include mq-md {
    display: none;
  }

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
  }
}

.mobileTopMenu {
  display: block;

  &::before {
    background-color: var(--header-mobile-bg);
    content: '';
    inset: 0;
    opacity: var(--header-mobile-opacity);
    position: absolute;
    transition: opacity var(--transition-default);
  }
}

.mobileTopMenuContainer {
  align-items: center;
  display: flex;
  height: var(--height-mobile-menu);
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
}

.mobileTopMenuLogo {
  display: flex;
  flex-shrink: 0;

  img,
  svg {
    height: auto;
    max-height: 3rem;
    width: auto;
  }
}

.mobileTopMenuToggle {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  padding: 0.8rem;

  &:hover,
  &:focus-visible {
    color: var(--color-primary-2);
  }

  .mobileTopMenu.textLight & {
    color: var(--color-white);
  }

  .mobileTopMenu.textDark & {
    color: var(--color-black);
  }
}

// MOBILE MAIN MENU

.mobileMainMenuTop {
  align-items: center;
  display: flex;
  height: var(--height-mobile-menu);
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  width: 100%;

  &::after {
    background: var(--color-grey-5);
    content: '';
    display: block;
    height: .1rem;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: calc(100% - 4rem);
  }
}

.mobileMainMenu {
  background-color: var(--header-mobile-main-menu-bg, var(--color-white));
  display: flex;
  flex-direction: column;
  gap: 2rem;
  inset: var(--height-mobile-menu) 0 0 auto;
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: transform var(--transition-default);
  width: 48rem;
  z-index: var(--z-index-4);

  @include mq-md {
    display: none;
  }

  &.mobileMainMenuOpen {
    transform: translateX(0);
  }
}

.mobileMainMenuNav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 2rem;
}

.mobileMainMenuLink {
  background-color: var(--color-grey-6);
  border-radius: var(--radius-2);
  color: var(--color-black);
  display: block;
  font-size: var(--font-size-4);
  padding: 1rem 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-2);
    color: var(--color-white);
  }

  &.current {
    background-color: var(--color-grey-6);
    color: var(--color-primary-2);
  }
}

.mobileMainMenuDropdownWrapper {
  border-radius: var(--radius-2);
}

.mobileMainMenuDropdownTrigger {
  align-items: center;
  background-color: var(--color-grey-6);
  border-radius: var(--radius-2);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &.isOpen {
    background-color: var(--color-grey-5);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-2);
    color: var(--color-white);
  }
}

.mobileMainMenuDropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-default);

  &.isOpen {
    grid-template-rows: 1fr;
    padding: 0.5rem 0 0;
  }
}

.mobileMainMenuDropdownInner {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: hidden;
}

.mobileMainMenuDropdownLink {
  background-color: var(--color-grey-5);
  border-radius: var(--radius-2);
  color: var(--color-black);
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-2);
    color: var(--color-white);
    text-decoration: none;
  }

  &.current {
    background-color: var(--color-grey-5);
    color: var(--color-primary-2);
  }
}
