$bg-color-pagination: var(--color-white);
$bg-color-button: var(--color-grey-7);
$bg-color-button-active: var(--color-primary-2);
$bd-color-button-active: var(--color-primary-2);
$tx-color-button-active: var(--color-white);
$bg-color-button-current: var(--color-white);
$bd-color-button-current: var(--color-primary-2);
$tx-color-button-current: var(--color-primary-2);

.pagination {
  align-items: center;
  background-color: $bg-color-pagination;
  border-radius: var(--radius-4);
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.5rem;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button {
  align-items: center;
  background-color: $bg-color-button;
  border: 0.1rem solid transparent;
  border-radius: var(--radius-3);
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  min-width: 4rem;
  padding: 0 1rem;
  text-decoration: none;

  &.current {
    background-color: $bg-color-button-current;
    border-color: $bd-color-button-current;
    color: $tx-color-button-current;
    cursor: default;
  }

  &:hover:not(.current, .disabled, .ellipsis),
  &:focus-visible:not(.current, .disabled, .ellipsis) {
    background-color: $bg-color-button-active;
    border-color: $bd-color-button-active;
    color: $tx-color-button-active;
    text-decoration: none;
  }

  &.ellipsis {
    cursor: default;
  }

  .pagination.disabled & {
    pointer-events: none;
  }
}