@use 'styles/mixins/mq' as *;

.menu {
  display: none;
  position: relative;
  z-index: var(--z-index-5);

  @include mq-md {
    display: block;
  }

  &::before {
    background-color: var(--header-desktop-top-bg);
    content: '';
    height: 100%;
    left: 0;
    opacity: var(--header-desktop-top-opacity);
    position: absolute;
    top: 0;
    transition: opacity var(--transition-default);
    width: 100%;

    .headerDesktop:hover &,
    .headerDesktop:focus-within & {
      opacity: 1
    }
  }
}

.container {
  align-items: center;
  display: flex;
  font-size: var(--font-size-2);
  gap: 2rem;
  height: var(--height-top-menu);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem;
  position: relative;
}

.nav {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.link {
  font-size: var(--font-size-3);
  text-decoration: none;

  &:hover:not([disabled], [aria-disabled="true"]),
  &:focus-visible:not([disabled], [aria-disabled="true"]) {
    text-decoration: underline;
  }

  &.current {
    cursor: default;
    text-decoration: none;
  }

  .textLight & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  &:hover,
  &.current,
  &:focus-visible {
    .textLight & {
      color: var(--color-primary-contrast);
    }

    .textDark & {
      color: var(--color-primary-2);
    }
  }
}

.dropdownWrapper {
  position: relative;
}

.dropdownTrigger {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-3);
  gap: 0.5rem;
  height: var(--height-top-menu);
  padding: 0;
  text-decoration: none;

  .textLight & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  .dropdownWrapper:hover &,
  .dropdownWrapper:focus-within & {
    .textLight & {
      color: var(--color-primary-contrast);
    }

    .textDark & {
      color: var(--color-primary-2);
    }
  }
}

.dropdown {
  min-width: 15rem;
  opacity: 0;
  padding: 1rem 0 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  transition: opacity var(--transition-default);
  visibility: hidden;
  z-index: var(--z-index-5);

  &::before {
    background-color: var(--header-desktop-top-bg);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-1);
    content: '';
    height: calc(100% - 1rem);
    left: 0;
    position: absolute;
    top: 1rem;
    width: 100%;
  }

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

.dropdownInner {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  position: relative;
}

.dropdownLink {
  font-size: var(--font-size-3);
  text-decoration: none;

  &:hover:not([disabled], [aria-disabled="true"]),
  &:focus-visible:not([disabled], [aria-disabled="true"]) {
    text-decoration: underline;
  }

  &.current {
    cursor: default;
    text-decoration: none;
  }

  .textLight & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  &:hover,
  &.current,
  &:focus-visible {
    .textLight & {
      color: var(--color-primary-contrast);
    }

    .textDark & {
      color: var(--color-primary-2);
    }
  }
}

.chevron {
  transition: transform var(--transition-default);

  &.isOpen {
    transform: rotate(180deg);
  }
}