@use 'styles/mixins/form' as *;

$bd-color-radio: var(--color-grey-3);
$bg-color-radio-after: var(--color-primary-2);
$bd-color-radio-active: var(--color-primary-2);
$tx-color-label: var(--color-black);

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.groupLabel {
  @include form-label;
}

.options {
  display: flex;
  gap: 1rem;

  &.disabled {
    @include form-disabled;
  }

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-flow: row wrap;
  }
}

.option {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;

  &.disabled {
    cursor: not-allowed;
  }
}

.radio {
  border: 0.1rem solid $bd-color-radio;
  border-radius: 50%;
  flex-shrink: 0;
  height: 2rem;
  position: relative;
  width: 2rem;

  &::after {
    background-color: $bg-color-radio-after;
    border-radius: 50%;
    content: '';
    height: 1rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform var(--transition-default);
    width: 1rem;
  }
}

.input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &:focus-visible + .radio {
    border-color: $bd-color-radio-active;
  }

  &:checked + .radio {
    border-color: $bd-color-radio-active;

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.label {
  color: $tx-color-label;
}
