$bg-color-button: var(--color-grey-5);
$tx-color-button: var(--color-grey-1);
$bg-color-button-active: var(--color-primary-2);
$tx-color-button-active: var(--color-white);
$bg-color-dot: var(--color-grey-4);
$bg-color-dot-active: var(--color-primary-2);

.carousel {
  --carousel-slides-per-view: 1;
  --carousel-gap: 0rem;
  position: relative;
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  margin-left: calc(var(--carousel-gap) * -1);
  touch-action: pan-y pinch-zoom;
}

.slide {
  flex: 0 0 calc(100% / var(--carousel-slides-per-view));
  min-width: 0;
  padding-left: var(--carousel-gap);
}

.controls {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;

  &.overlay {
    inset: 0;
    margin-top: 0;
    pointer-events: none;
    position: absolute;

    .button {
      pointer-events: auto;
    }

    .prev {
      left: 1rem;
      position: absolute;
    }

    .next {
      position: absolute;
      right: 1rem;
    }

    .dots {
      bottom: 1rem;
      pointer-events: auto;
      position: absolute;
    }
  }
}

.button {
  align-items: center;
  background: $bg-color-button;
  border-radius: 50%;
  color: $tx-color-button;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 4rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background: $bg-color-button-active;
    color: $tx-color-button-active;
  }
}

.dots {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.dot {
  background-color: $bg-color-dot;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  width: 1rem;

  &.active,
  &:hover:not(.active),
  &:focus-visible:not(.active) {
    background-color: $bg-color-dot-active;
  }
}
