@use 'styles/mixins/form' as *;

$bg-color-modal: var(--color-white);
$bd-color-modal: var(--color-grey-4);
$tx-color-placeholder: var(--color-grey-2);
$tx-color-trigger: var(--color-grey-2);
$tx-color-select: var(--color-black);
$tx-color-clear: var(--color-grey-2);
$tx-color-clear-active: var(--color-danger-2);
$bg-color-choice-item: var(--color-grey-6);
$bg-color-choice-remove: var(--color-grey-5);
$tx-color-choice-remove: var(--color-grey-2);
$bg-color-choice-remove-active: var(--color-danger-3);
$tx-color-choice-remove-active: var(--color-danger-2);

.wrapper {
  @include form-wrapper;
}

.label {
  @include form-label;
}

.selectRoot {
  @include form-input;

  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: auto;
  min-height: 4rem;
  padding: 0 1rem;

  &.disabled {
    @include form-disabled;
  }
}

.selectModal {
  background-color: $bg-color-modal;
  border: 0.1rem solid $bd-color-modal;
  border-radius: var(--radius-3);
  max-height: 20rem;
  overflow-y: auto;
  padding: 0.5rem 0;
  position: fixed;
  z-index: var(--z-index-4);
}

.selectSearchInline {
  background: transparent;
  flex: 1;
  font-family: inherit;
  font-weight: inherit;
  min-width: 5rem;

  &::placeholder {
    color: $tx-color-placeholder;
  }
}

.selectLoading {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.selectTrigger {
  align-items: center;
  color: $tx-color-trigger;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 0.4rem;
  transition: transform var(--transition-default);

  &.open {
    transform: rotate(180deg);
  }
}

.selectActions {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  margin-left: auto;
}

.selectPlaceholder {
  color: $tx-color-placeholder;
}

.selectValue {
  color: $tx-color-select;
}

.optionList {
  display: flex;
  flex-direction: column;
}

.optionListItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;

  &:hover,
  &.focused {
    background-color: var(--color-grey-6);
  }

  &.selected {
    background-color: var(--color-primary-3);
  }

  &.selected.focused {
    background-color: var(--color-primary-2);
    color: var(--color-white);
  }

  input {
    cursor: pointer;
  }
}

.choiceClear {
  align-items: center;
  background: none;
  color: $tx-color-clear;
  cursor: pointer;
  display: flex;
  padding: 0.4rem;

  &:hover,
  &:focus-visible {
    color: $tx-color-clear-active;
  }
}

.choiceList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.choiceListItem {
  align-items: center;
  background-color: $bg-color-choice-item;
  border-radius: var(--radius-1);
  display: flex;
  max-width: 100%;
}

.choiceListItemLabel {
  overflow: hidden;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.choiceListItemRemove {
  align-items: center;
  background-color: $bg-color-choice-remove;
  border-radius: 0 var(--radius-1) var(--radius-1) 0;
  color: $tx-color-choice-remove;
  cursor: pointer;
  display: flex;
  min-height: 3rem;
  padding: 0 0.5rem;

  &:hover,
  &:focus-visible {
    background-color: $bg-color-choice-remove-active;
    color: $tx-color-choice-remove-active;
  }
}
