@use 'sass:map';
@use './color' as *;

$bg-color-button-close: var(--color-grey-6);
$bg-color-button-close-active: var(--color-primary-2);
$tx-color-button-close-active: var(--color-white);

@mixin action-base {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  outline: none;
  position: relative;
  text-decoration: underline;
  transition: all 0.1s ease;

  &:hover:not([disabled], [aria-disabled='true']),
  &:focus-visible:not([disabled], [aria-disabled='true']) {
    text-decoration: none;
  }
}

@mixin action-appearances {
  &.appearance-button,
  &.appearance-outline {
    border-radius: var(--radius-3);
    font-weight: var(--font-weight-button);
    height: 4rem;
    padding: 0 2rem;
    text-decoration: none;
  }

  &.appearance-underline {
    align-self: center;
    height: auto;
    text-decoration: none;

    &::before {
      background: currentcolor;
      bottom: 0;
      content: '';
      height: 0.1rem;
      left: 0;
      position: absolute;
      right: 0;
      transform: translateY(0.1rem);
      transition: transform var(--transition-default);
      width: 100%;
    }

    &:hover:not([disabled], [aria-disabled='true'])::before,
    &:focus-visible:not([disabled], [aria-disabled='true'])::before {
      transform: translateY(0.4rem);
    }
  }

  &.appearance-icon {
    background: transparent;
    height: auto;
    padding: 0;
    text-decoration: none;
  }
}

@mixin action-variants {
  @each $name in $color-variants {
    // LIGHT
    $text: var(--color-black);
    $base: var(--color-#{$name}-2);
    $hover: var(--color-#{$name}-1);

    // DARK
    $text-contrast: var(--color-white);
    $base-contrast: var(--color-#{$name}-contrast);
    $hover-contrast: var(--color-#{$name}-3);

    &.variant-#{$name} {
      background: transparent;
      color: $text;

      &[aria-selected='true']:not([disabled], [aria-disabled='true']),
      &:hover:not([disabled], [aria-disabled='true']),
      &:focus-visible:not([disabled], [aria-disabled='true']) {
        color: $base;
      }

      &.appearance-button {
        background: $base;
        color: var(--color-white);

        &[aria-selected='true']:not([disabled], [aria-disabled='true']),
        &:hover:not([disabled], [aria-disabled='true']),
        &:focus-visible:not([disabled], [aria-disabled='true']) {
          background: $hover;
          color: var(--color-white);
        }
      }

      &.appearance-outline {
        border: 0.1rem solid $base;
        color: $base;

        &[aria-selected='true']:not([disabled], [aria-disabled='true']),
        &:hover:not([disabled], [aria-disabled='true']),
        &:focus-visible:not([disabled], [aria-disabled='true']) {
          background: $base;
          border-color: $base;
          color: var(--color-white);
        }
      }

      &.appearance-underline {
        color: $base;

        ::before {
          background: $base;
        }
      }

      &.contrast {
        color: $text-contrast;

        &[aria-selected='true']:not([disabled], [aria-disabled='true']),
        &:hover:not([disabled], [aria-disabled='true']),
        &:focus-visible:not([disabled], [aria-disabled='true']) {
          color: $base-contrast;
        }

        &.appearance-button {
          background: $base-contrast;
          color: var(--color-#{$name}-1);

          &[aria-selected='true']:not([disabled], [aria-disabled='true']),
          &:focus-visible:not([disabled], [aria-disabled='true']),
          &:hover:not([disabled], [aria-disabled='true']) {
            background: $hover-contrast;
            color: var(--color-#{$name}-1);
          }
        }

        &.appearance-outline {
          border-color: $base-contrast;
          color: $base-contrast;

          &[aria-selected='true']:not([disabled], [aria-disabled='true']),
          &:focus-visible:not([disabled], [aria-disabled='true']),
          &:hover:not([disabled], [aria-disabled='true']) {
            background: var(--color-#{$name}-3);
            border-color: var(--color-#{$name}-3);
            color: var(--color-#{$name}-1);
          }
        }

        &.appearance-underline {
          color: $base-contrast;
          
          &::before {
            background: $base-contrast;
          }
        }
      }
    }
  }
}

@mixin action-disabled {
  &[disabled],
  &[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;

    &::after {
      content: '';
      cursor: not-allowed;
      inset: 0;
      pointer-events: all;
      position: absolute;
    }
  }
}

@mixin action-close {
  align-items: center;
  background: transparent;
  background-color: $bg-color-button-close;
  border: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-5);
  height: 2.5rem;
  justify-content: center;
  outline: none;
  padding: 0;
  position: absolute;
  width: 2.5rem;

  &:hover,
  &:focus-visible {
    background-color: $bg-color-button-close-active;
    color: $tx-color-button-close-active;
    opacity: 1;
  }
}
