@use 'styles/mixins/form' as *;

$bd-color-input-active: var(--color-primary-2);
$tx-color-toggle: var(--color-grey-2);

.wrapper {
  @include form-wrapper;
}

.label {
  @include form-label;
}

.inputWrapper {
  position: relative;
}

.input {
  @include form-input;

  padding-right: 3rem;
  width: 100%;

  .inputWrapper:is(:hover, :focus-within) & {
    &:not(:disabled) {
      border-color: $bd-color-input-active;
    }
  }
}

.toggleButton {
  align-items: center;
  background: none;
  color: $tx-color-toggle;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:is(:focus-visible, :hover):not(:disabled) {
    color: var(--color-primary-2);
  }
}
