$bd-color-spinner: var(--color-grey-5);
$bd-color-spinner-top: var(--color-primary-2);

.spinner {
  animation: spin 0.8s linear infinite;
  aspect-ratio: 1;
  border-color: $bd-color-spinner;
  border-radius: 50%;
  border-style: solid;
  border-top-color: $bd-color-spinner-top;
  border-width: 0.2rem;
  display: inline-block;
  width: 2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
