$bg-color-sidebar: var(--color-white);
$bg-color-main: var(--color-grey-6);
$bg-color-link: var(--color-grey-5);
$bg-color-link-active: var(--color-primary-2);
$tx-color-link-active: var(--color-white);

.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  background-color: $bg-color-sidebar;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  overflow-y: auto;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 25rem;
}

.brand {
  align-items: center;
  display: flex;
  height: 8rem;
  justify-content: flex-start;

  img {
    max-height: 4rem;
    max-width: 100%;
    width: auto;
  }
}

.main {
  background-color: $bg-color-main;
  flex: 1;
  margin-left: 25rem;
  padding: 2rem 4rem 4rem;
}

.mainTitle {
  font-size: var(--font-size-8);
}

.mainHeader {
  align-items: flex-start;
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8rem;
  position: relative;

  > :last-child:not(.headerTitle, p) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navLink {
  align-items: center;
  background-color: $bg-color-link;
  border-radius: var(--radius-2);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  width: 100%;

  &:hover,
  &:focus-visible {
    background-color: $bg-color-link-active;
    color: $tx-color-link-active;
    text-decoration: none;
  }

  &.current {
    background-color: $bg-color-link-active;
    color: $tx-color-link-active;
    cursor: default;
  }
}

.navTitle {
  font-size: var(--font-size-2);
  text-transform: uppercase;
}


