@use 'styles/mixins/form' as *;

$bg-color-button: var(--color-white);
$bd-color-button: var(--color-black);
$bg-color-button-active: var(--color-primary-2);
$bd-color-button-active: var(--color-primary-2);
$tx-color-dropzone-active: var(--color-primary-2);
$bg-color-dropzone: var(--color-grey-6);
$bg-color-dropzone-active: var(--color-primary-3);
$bd-color-dropzone: var(--color-grey-4);
$bd-color-dropzone-active: var(--color-primary-2);

.wrapper {
  @include form-wrapper;
}

.label {
  @include form-label;
}

.hiddenInput {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.inline {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.button {
  align-items: center;
  background-color: $bg-color-button;
  border: 0.1rem solid $bd-color-button;
  border-radius: var(--radius-3);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  gap: 1rem;
  height: 4rem;
  justify-content: center;
  padding: 0 2rem;
  text-decoration: none;

  &:is(:focus-visible, :hover):not(:disabled) {
    background-color: $bg-color-button-active;
    border-color: $bd-color-button-active;
    color: var(--color-white);
    text-decoration: none;
  }

  &:disabled {
    @include form-disabled;
  }
}

.fileNames {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropzone {
  align-items: center;
  background-color: $bg-color-dropzone;
  border: 0.2rem dashed $bd-color-dropzone;
  border-radius: var(--radius-3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  min-height: 15rem;
  padding: 2rem;
  transition: all var(--transition-default);

  &:focus {
    border-color: $bd-color-dropzone-active;
    color: $tx-color-dropzone-active;
  }

  &:hover:not(.disabled), &.dragging {
    background-color: $bg-color-dropzone-active;
    border-color: $bd-color-dropzone-active;
    color: $tx-color-dropzone-active;
  }

  &.disabled {
    @include form-disabled;
  }
}

.dropzone .fileNames {
  font-size: var(--font-size-3);
  max-width: 100%;
}
