@use '../mixins/mq' as *;

html {
  display: block;
  margin: 0;
  padding: 0;

  &.freeze {
    height: 100%;
    overflow: hidden;

    @supports (height: 100vh) {
      height: 100vh;
    }

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;

  &.with-mobile-nav {
    padding-top: var(--height-mobile-menu);

    @include mq-md {
      padding-top: 0;
    }
  }

  &.with-top-nav {
    @include mq-md {
      padding-top: var(--height-top-menu);
    }
  }

  &.with-main-nav {
    @include mq-md {
      padding-top: var(--height-main-menu);
    }
  }

  &.with-main-nav.with-top-nav {
    @include mq-md {
      padding-top: calc(var(--height-top-menu) + var(--height-main-menu));
    }
  }

  &.header-transparent.header-transparent {
    padding-top: 0;

    @include mq-md {
      padding-top: 0;
    }
  }

  &.freeze {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
