@use '../mixins/mq' as *;

html {
  display: block;
  margin: 0;
  overscroll-behavior-y: none;
  padding: 0;

  &.freeze {
    height: 100%;
    overflow: hidden;

    @supports (height: 100vh) {
      height: 100vh;
    }

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;

  &.with-mobile-header-top {
    padding-top: var(--header-mobile-top-height);

    @include mq-md {
      padding-top: 0;
    }
  }

  &.with-desktop-header-top {
    @include mq-md {
      padding-top: var(--header-desktop-top-height);
    }
  }

  &.with-desktop-header-main {
    @include mq-md {
      padding-top: var(--header-desktop-main-height);
    }
  }

  &.with-desktop-header-main.with-desktop-header-top {
    @include mq-md {
      padding-top: calc(var(--header-desktop-top-height) + var(--header-desktop-main-height));
    }
  }

  &.is-header-transparent {
    padding-top: 0 !important;

    @include mq-md {
      padding-top: 0 !important;
    }
  }

  &.freeze {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}