$bg-color-skeleton: var(--color-grey-5);

.skeleton {
  background-color: $bg-color-skeleton;
}

.animated {
  animation: shimmer 1.5s ease-in-out infinite;
  background-image: linear-gradient(
    90deg,
    var(--color-grey-5) 0%,
    var(--color-grey-6) 50%,
    var(--color-grey-5) 100%
  );
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}


.text {
  border-radius: var(--radius-2);
  height: 1.6rem;
  width: 100%;
}

.circle {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.rect {
  border-radius: var(--radius-3);
  height: 10rem;
  width: 100%;
}
