@use 'styles/mixins/mq' as *;

$bg-color-overlay-light: var(--color-white-50);
$bg-color-overlay-dark: var(--color-black-50);
$tx-color-light: var(--color-white);
$tx-color-dark: var(--color-black);

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 40rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.overlay-light::before,
  &.overlay-dark::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: 1;
  }

  &.overlay-light::before {
    background: $bg-color-overlay-light;
  }

  &.overlay-dark::before {
    background: $bg-color-overlay-dark;
  }
}

.backgroundMedia {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: var(--container-max-width);
  position: relative;
  width: 100%;
  z-index: 2;

  &.vertical-align-start {
    align-items: flex-start;
  }

  &.vertical-align-center {
    align-items: center;
  }

  &.vertical-align-end {
    align-items: flex-end;
  }

  &.horizontal-align-left {
    justify-content: flex-start;
  }

  &.horizontal-align-center {
    justify-content: center;
  }

  &.horizontal-align-right {
    justify-content: flex-end;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 2rem;

  @include mq-md {
    width: 60rem;
  }

  &.text-align-left {
    text-align: left;
  }

  &.text-align-center {
    text-align: center;
  }

  &.text-align-right {
    text-align: right;
  }

  &.text-light {
    color: $tx-color-light;
  }

  &.text-dark {
    color: $tx-color-dark;
  }
}

.title {
  color: inherit;
  display: block;
}

.subtitle {
  color: inherit;
  display: block;
}

.body {
  color: inherit;
  display: block;
}

.actions {
  align-items: center;
  display: flex;
  gap: 2rem;

  .text-align-left & {
    justify-content: flex-start;
  }

  .text-align-right & {
    justify-content: flex-end;
  }

  .text-align-center & {
    justify-content: center;
  }
}
