@use 'styles/mixins/mq' as *;
@use 'styles/mixins/action' as *;
@use 'styles/mixins/color' as *;

.menu {
  background-color: var(--header-mobile-main-bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: transform var(--transition-default);
  width: 48rem;
  z-index: var(--z-index-4);

  @include mq-md {
    display: none;
  }

  &.isOpen {
    transform: translateX(0);
  }
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 2rem 2rem;
  position: relative;
  width: 100%;
}

.head {
  align-items: center;
  display: flex;
  height: var(--header-mobile-top-height);
  justify-content: space-between;
  position: relative;
  width: 100%;

  .textLight & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  &::after {
    background: var(--color-grey-7);
    content: '';
    display: block;
    height: .1rem;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 100%;
  }
}

.toggle {
  align-items: center;
  background: none;
  border-radius: var(--radius-2);
  color: var(--color-black);
  cursor: pointer;
  display: flex;
  padding: 0.8rem;

  .textLight & {
    color: var(--color-white);

    &:hover,
    &:focus-visible {
      color: var(--color-primary-contrast);
    }
  }

  .textDark & {
    color: var(--color-black);

    &:hover,
    &:focus-visible {
      color: var(--color-primary-2);
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.link {
  @include action-appearances;
  @include action-variants;
  @include action-base;

  cursor: pointer;
  font-size: var(--font-size-4);
  padding: .5rem 0;
  text-decoration: none;
  width: 100%;

  &:not(.appearance-button, .appearance-outline) {
    display: block;
  }

  &.current {
    cursor: default;
  }

  .textLight & {
    color: var(--color-white);

    &:hover,
    &.current,
    &:focus-visible {
      color: var(--color-primary-contrast);
    }
  }

  .textDark & {
    color: var(--color-black);

    &:hover,
    &.current,
    &:focus-visible {
      color: var(--color-primary-2);
    }
  }

  @each $name in $color-variants {
    &.variant-#{$name}:not(.appearance-button):not(.appearance-outline) {
      .textLight & {
        color: var(--color-white);

        &:hover,
        &.current,
        &:focus-visible {
          color: var(--color-#{$name}-contrast);
        }
      }

      .textDark & {
        color: var(--color-black);

        &:hover,
        &.current,
        &:focus-visible {
          color: var(--color-#{$name}-2);
        }
      }
    }
  }
}

.dropdownWrapper {
  display: flex;
  flex-direction: column;
}

.dropdownTrigger {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-4);
  gap: 1rem;
  justify-content: space-between;
  padding: .5rem 0;
  text-align: left;
  text-decoration: none;
  width: 100%;

  .textLight & {
    color: var(--color-white);
  }

  &.isOpen {
    .textLight & {
      color: var(--color-primary-contrast);
    }
  }

  .textLight .dropdownWrapper:hover &,
  .textLight .dropdownWrapper:focus-within & {
    color: var(--color-primary-contrast);
  }

  .textDark & {
    color: var(--color-black);
  }

  &.isOpen {
    .textDark & {
      color: var(--color-primary-2);
    }
  }

  .textDark .dropdownWrapper:hover &,
  .textDark .dropdownWrapper:focus-within & {
    color: var(--color-primary-2);
  }
}

.dropdown {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0 1rem;
  transition: padding var(--transition-default), grid-template-rows var(--transition-default);

  &.isOpen {
    grid-template-rows: 1fr;
    padding: 1rem;
  }
}

.dropdownInner {
  border-left: .2rem solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 0 0 2rem;

  .textLight & {
    border-color: var(--color-white-20);
  }

  .textDark & {
    border-color: var(--color-black-20);
  }
}

.dropdownLink {
  display: block;
  padding: .5rem 0;
  text-align: left;
  text-decoration: none;

  &.current {
    cursor: default;
    text-decoration: none;
  }

  .textLight & {
    color: var(--color-white);
  }

  .textDark & {
    color: var(--color-black);
  }

  &:hover,
  &.current,
  &:focus-visible {
    .textLight & {
      color: var(--color-primary-contrast);
    }

    .textDark & {
      color: var(--color-primary-2);
    }
  }
}

.chevron {
  transition: transform var(--transition-default);

  &.isOpen {
    transform: rotate(180deg);
  }
}