$bg-color-card: var(--card-bg);
$bd-color-card: var(--card-border);

.card {
  background-color: $bg-color-card;
  border: 0.1rem solid $bd-color-card;
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
}

.cardBody {
  display: flex;
  flex-direction: column;
}

.cardFooter {
  display: flex;
}
