.card {
  background-color: var(--theme-card-bg);
  border: 0.1rem solid var(--theme-card-border);
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
}

.cardBody {
  display: flex;
  flex-direction: column;
}

.cardFooter {
  display: flex;
}
